- jak použít knihovny a zástupné označení

In [1]:
import math as m

a = m.sin(30)
print(a)
# print(a)

a = 10
print (a * 10)

-0.9880316240928618
100

In [3]:
import pandapower as pp
net = pp.create_empty_network(name='Pokus', f_hz=50.0, sn_mva=1, add_stdtypes=True)
pp.create_bus(net, vn_kv, name=None, index=None, geodata=None, type='b', zone=None, in_service=True, max_vm_pu=nan, min_vm_pu=nan, coords=None, **kwargs)

SyntaxError: invalid non-printable character U+F0C1 (2771689742.py, line 3)

In [41]:
import pandapower as pp

#print(pp.available_std_types(net,"trafo"))
print(pp.available_std_types(net,"line"))

#create empty net
net = pp.create_empty_network(name='POkus', f_hz=50.0, sn_mva=1200, add_stdtypes=True) 

#create buses
bus1 = pp.create_bus(net, name="Přívod", vn_kv=110, type="b")
bus2 = pp.create_bus(net, name="VN", vn_kv=22, type="b")
bus3 = pp.create_bus(net, name="NN", vn_kv=0.4, type="b")

# trafo1 = pp.create_transformer(net, bus1, bus2, name="Trafo", std_type="0.4 MVA")
trafo1 = pp.create_transformer_from_parameters(net= net, hv_bus=bus1,
    lv_bus = bus2,
    sn_mva= 22,
    vn_hv_kv= 110,
    vn_lv_kv= 22,
    vkr_percent= 6,
    vk_percent=6,
    pfe_kw=1,
    i0_percent=1)
trafo2 = pp.create_transformer_from_parameters(net= net, hv_bus=bus1,
    lv_bus = bus2,
    sn_mva= 1.6,
    vn_hv_kv= 22,
    vn_lv_kv= 0.4,
    vkr_percent= 6,
    vk_percent=6,
    pfe_kw=1,
    i0_percent=1)

net.bus # show bus table
net.trafo # show bus table

                                  c_nf_per_km  r_ohm_per_km  x_ohm_per_km  \
NAYY 4x50 SE                           210.00        0.6420         0.083
NAYY 4x120 SE                          264.00        0.2250         0.080
NAYY 4x150 SE                          261.00        0.2080         0.080
NA2XS2Y 1x95 RM/25 12/20 kV            216.00        0.3130         0.132
NA2XS2Y 1x185 RM/25 12/20 kV           273.00        0.1610         0.117
NA2XS2Y 1x240 RM/25 12/20 kV           304.00        0.1220         0.112
NA2XS2Y 1x95 RM/25 6/10 kV             315.00        0.3130         0.123
NA2XS2Y 1x185 RM/25 6/10 kV            406.00        0.1610         0.110
NA2XS2Y 1x240 RM/25 6/10 kV            456.00        0.1220         0.105
NA2XS2Y 1x150 RM/25 12/20 kV           250.00        0.2060         0.116
NA2XS2Y 1x120 RM/25 12/20 kV           230.00        0.2530         0.119
NA2XS2Y 1x70 RM/25 12/20 kV            190.00        0.4430         0.132
NA2XS2Y 1x150 RM/25 6/10 kV            360.00        0.2060         0.110
NA2XS2Y 1x120 RM/25 6/10 kV            340.00        0.2530         0.113
NA2XS2Y 1x70 RM/25 6/10 kV             280.00        0.4430         0.123
N2XS(FL)2Y 1x120 RM/35 64/110 kV       112.00        0.1530         0.166
N2XS(FL)2Y 1x185 RM/35 64/110 kV       125.00        0.0990         0.156
N2XS(FL)2Y 1x240 RM/35 64/110 kV       135.00        0.0750         0.149
N2XS(FL)2Y 1x300 RM/35 64/110 kV       144.00        0.0600         0.144
15-AL1/3-ST1A 0.4                       11.00        1.8769         0.350
24-AL1/4-ST1A 0.4                       11.25        1.2012         0.335
48-AL1/8-ST1A 0.4                       12.20        0.5939         0.300
94-AL1/15-ST1A 0.4                      13.20        0.3060         0.290
34-AL1/6-ST1A 10.0                       9.70        0.8342         0.360
48-AL1/8-ST1A 10.0                      10.10        0.5939         0.350
70-AL1/11-ST1A 10.0                     10.40        0.4132         0.339
94-AL1/15-ST1A 10.0                     10.75        0.3060         0.330
122-AL1/20-ST1A 10.0                    11.10        0.2376         0.323
149-AL1/24-ST1A 10.0                    11.25        0.1940         0.315
34-AL1/6-ST1A 20.0                       9.15        0.8342         0.382
48-AL1/8-ST1A 20.0                       9.50        0.5939         0.372
70-AL1/11-ST1A 20.0                      9.70        0.4132         0.360
94-AL1/15-ST1A 20.0                     10.00        0.3060         0.350
122-AL1/20-ST1A 20.0                    10.30        0.2376         0.344
149-AL1/24-ST1A 20.0                    10.50        0.1940         0.337
184-AL1/30-ST1A 20.0                    10.75        0.1571         0.330
243-AL1/39-ST1A 20.0                    11.00        0.1188         0.320
48-AL1/8-ST1A 110.0                      8.00        0.5939         0.460
70-AL1/11-ST1A 110.0                     8.40        0.4132         0.450
94-AL1/15-ST1A 110.0                     8.65        0.3060         0.440
122-AL1/20-ST1A 110.0                    8.50        0.2376         0.430
149-AL1/24-ST1A 110.0                    8.75        0.1940         0.410
184-AL1/30-ST1A 110.0                    8.80        0.1571         0.400
243-AL1/39-ST1A 110.0                    9.00        0.1188         0.390
305-AL1/39-ST1A 110.0                    9.20        0.0949         0.380
490-AL1/64-ST1A 110.0                    9.75        0.0590         0.370
679-AL1/86-ST1A 110.0                    9.95        0.0420         0.360
490-AL1/64-ST1A 220.0                   10.00        0.0590         0.285
679-AL1/86-ST1A 220.0                   11.70        0.0420         0.275
490-AL1/64-ST1A 380.0                   11.00        0.0590         0.253
679-AL1/86-ST1A 380.0                   14.60        0.0420         0.250

                                  max_i_ka type  q_mm2    alpha voltage_rating
NAYY 4x50 SE                         0.142   cs     50  0.00403             LV
NAYY 4x120 SE                        0.242   cs    120  0.00403             LV
NAYY 4x150 SE                        0.270   cs    150  0.00403             LV
NA2XS2Y 1x95 RM/25 12/20 kV          0.252   cs     95  0.00403             MV
NA2XS2Y 1x185 RM/25 12/20 kV         0.362   cs    185  0.00403             MV
NA2XS2Y 1x240 RM/25 12/20 kV         0.421   cs    240  0.00403             MV
NA2XS2Y 1x95 RM/25 6/10 kV           0.249   cs     95  0.00403             MV
NA2XS2Y 1x185 RM/25 6/10 kV          0.358   cs    185  0.00403             MV
NA2XS2Y 1x240 RM/25 6/10 kV          0.416   cs    240  0.00403             MV
NA2XS2Y 1x150 RM/25 12/20 kV         0.319   cs    150  0.00403             MV
NA2XS2Y 1x120 RM/25 12/20 kV         0.283   cs    120  0.00403             MV
NA2XS2Y 1x70 RM/25 12/20 kV          0.220   cs     70  0.00403             MV
NA2XS2Y 1x150 RM/25 6/10 kV          0.315   cs    150  0.00403             MV
NA2XS2Y 1x120 RM/25 6/10 kV          0.280   cs    120  0.00403             MV
NA2XS2Y 1x70 RM/25 6/10 kV           0.217   cs     70  0.00403             MV
N2XS(FL)2Y 1x120 RM/35 64/110 kV     0.366   cs    120  0.00393             HV
N2XS(FL)2Y 1x185 RM/35 64/110 kV     0.457   cs    185  0.00393             HV
N2XS(FL)2Y 1x240 RM/35 64/110 kV     0.526   cs    240  0.00393             HV
N2XS(FL)2Y 1x300 RM/35 64/110 kV     0.588   cs    300  0.00393             HV
15-AL1/3-ST1A 0.4                    0.105   ol     16  0.00403             LV
24-AL1/4-ST1A 0.4                    0.140   ol     24  0.00403             LV
48-AL1/8-ST1A 0.4                    0.210   ol     48  0.00403             LV
94-AL1/15-ST1A 0.4                   0.350   ol     94  0.00403             LV
34-AL1/6-ST1A 10.0                   0.170   ol     34  0.00403             MV
48-AL1/8-ST1A 10.0                   0.210   ol     48  0.00403             MV
70-AL1/11-ST1A 10.0                  0.290   ol     70  0.00403             MV
94-AL1/15-ST1A 10.0                  0.350   ol     94  0.00403             MV
122-AL1/20-ST1A 10.0                 0.410   ol    122  0.00403             MV
149-AL1/24-ST1A 10.0                 0.470   ol    149  0.00403             MV
34-AL1/6-ST1A 20.0                   0.170   ol     34  0.00403             MV
48-AL1/8-ST1A 20.0                   0.210   ol     48  0.00403             MV
70-AL1/11-ST1A 20.0                  0.290   ol     70  0.00403             MV
94-AL1/15-ST1A 20.0                  0.350   ol     94  0.00403             MV
122-AL1/20-ST1A 20.0                 0.410   ol    122  0.00403             MV
149-AL1/24-ST1A 20.0                 0.470   ol    149  0.00403             MV
184-AL1/30-ST1A 20.0                 0.535   ol    184  0.00403             MV
243-AL1/39-ST1A 20.0                 0.645   ol    243  0.00403             MV
48-AL1/8-ST1A 110.0                  0.210   ol     48  0.00403             HV
70-AL1/11-ST1A 110.0                 0.290   ol     70  0.00403             HV
94-AL1/15-ST1A 110.0                 0.350   ol     94  0.00403             HV
122-AL1/20-ST1A 110.0                0.410   ol    122  0.00403             HV
149-AL1/24-ST1A 110.0                0.470   ol    149  0.00403             HV
184-AL1/30-ST1A 110.0                0.535   ol    184  0.00403             HV
243-AL1/39-ST1A 110.0                0.645   ol    243  0.00403             HV
305-AL1/39-ST1A 110.0                0.740   ol    305  0.00403             HV
490-AL1/64-ST1A 110.0                0.960   ol    490  0.00403             HV
679-AL1/86-ST1A 110.0                1.150   ol    679  0.00403             HV
490-AL1/64-ST1A 220.0                0.960   ol    490  0.00403             HV
679-AL1/86-ST1A 220.0                1.150   ol    679  0.00403             HV
490-AL1/64-ST1A 380.0                0.960   ol    490  0.00403             HV
679-AL1/86-ST1A 380.0                1.150   ol    679  0.00403             HV

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,i0_percent,shift_degree,tap_side,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service
0,None,None,0,1,22.0,110.0,22.0,6.0,6.0,1.0,1.0,0.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
1,None,None,0,1,1.6,22.0,0.4,6.0,6.0,1.0,1.0,0.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True

In [4]:
import pandapower as pp
#create empty net
net = pp.create_empty_network() 

#create buses
b1 = pp.create_bus(net, vn_kv=22.0, name="Bus 1")
b2 = pp.create_bus(net, vn_kv=0.4, name="Bus 2")
b3 = pp.create_bus(net, vn_kv=0.4, name="Bus 3")

#create bus elements
pp.create_ext_grid(net, bus=b1, vm_pu=1.02, name="Grid Connection")
pp.create_load(net, bus=b3, p_mw=0.1, q_mvar=0.05, name="Load")

#create branch elements
#tid = pp.create_transformer(net, hv_bus=b1, lv_bus=b2, std_type="0.4 MVA 20/0.4 kV", name="Trafo")
tid = pp.create_transformer(net, hv_bus=b1, lv_bus=b2, std_type="1.6 MVA 22/0.4 kV", name="Trafo")
pp.create_line(net, from_bus=b2, to_bus=b3, length_km=0.1, name="Line",std_type="NAYY 4x50 SE")  

#net.trafo

UserWarning: Unknown standard trafo type 1.6 MVA 22/0.4 kV

In [ ]:
net.bus

    name  vn_kv type  zone  in_service
0  Bus 1   22.0    b  None        True
1  Bus 2    0.4    b  None        True
2  Bus 3    0.4    b  None        True

In [ ]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,Load,2,0.1,0.05,0.0,0.0,NaN,1.0,True,wye

In [ ]:
pp.runpp(net)
net.res_bus

      vm_pu   va_degree      p_mw    q_mvar
0  1.020000    0.000000 -0.106441 -0.052169
1  1.111938 -150.621274  0.000000  0.000000
2  1.072002 -149.906272  0.100000  0.050000

In [ ]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,0.104364,0.050563,-0.1,-0.05,0.004364,0.000563,0.150535,0.150535,0.150535,1.111938,-150.621274,1.072002,-149.906272,106.010855

In [ ]:
pp.create_switch(net, bus=b3, element=line, et="l", closed=False)

NameError: name 'line' is not defined